/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.neon-border{
    border: currentColor 0.15em solid;
    box-shadow: inset 0 0 0.75em 0 currentColor, 0 0 0.75em 0 currentColor;
}


.loading{
    --background: rgba(84, 120, 106 ,0.3);;
    --spinner-color: var(--ion-color-light);

    .loading-wrapper{
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        border-radius: 1em;
    }

    color: #fff;
    backdrop-filter: blur(5em);
}

.glassmorphism-green,.glassmorphism-black{
    color: var(--ion-color-primary);
    -webkit-backdrop-filter: blur(0.3em);
    backdrop-filter: blur(0.3em);
    
}

.glassmorphism-green{
    background: rgba(84, 120, 106, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    
    
}
.glassmorphism-black{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 4px rgb(0 0 0 / 20%), inset -2px -2px 4px rgb(255 255 255 / 10%), 2px 2px 4px rgb(0 0 0 / 20%), -2px -2px 4px rgb(255 255 255 / 10%);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.circle1{
    position: absolute;
    background: linear-gradient(to right bottom, rgba(0, 124, 121, 0.3), rgba(5,5,5,0.3));
    height: 18em;
    width: 18em;
    border-radius: 50%;
    top: 23em;
    left: -6em;
}

.circle2{
    position: absolute;
    background: linear-gradient(to right bottom, rgb(0 0 0 / 30%), rgba(0, 218, 116, 0.3));
    height: 16em;
    width: 16em;
    border-radius: 50%;
    top: 16em;
    left: 6em;
}

.circle3{
    position: absolute;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgb(126 244 189 / 30%));
    height: 10em;
    width: 10em;
    border-radius: 50%;
    left: 20em;
    bottom: 9em;
}