<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    {{habit?.Name}}
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>
      <ion-col size="7"> 
        <ion-item>
          <div style="display: flex;">
            <ion-icon slot="start" style="font-size: 2em;padding:0.125em" name="flame-outline"></ion-icon>
            <ion-label>
              <h2>10/12</h2>
              <p style="font-size:0.75em">Current Streak</p>
            </ion-label> 
          </div>
        </ion-item>
        <ion-item>
          <div style="display: flex;">
            <ion-icon slot="start" style="font-size: 2em;padding:0.125em" name="sad-outline"></ion-icon>
            <ion-label>
              <h2>10 May 2021</h2>
              <p style="font-size:0.75em">Previous failure</p>
            </ion-label> 
          </div>
        </ion-item>
        
      </ion-col>
      <ion-col size="5"> 
        <div id="gaugeChartContainer"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
