<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    {{habit?.Name}}
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <section class="scrollsnap-section" >
      <div class="charts-background">
      </div>
      <div style="display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
      margin: 0.5em;">
          <ion-label>Monthly Frequency</ion-label>
          <ion-select interface="popover" [value]="selectedYear">
            <ion-select-option  value="2021">2021</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
          </ion-select>
        </div>
        <ion-slides [options]="slideOpts_Flip">
          <ion-slide >
              
            <div id="columnChartContainer"></div>
          </ion-slide>
          <ion-slide >
            <div id="gaugeChartContainer"></div>
          </ion-slide>
        </ion-slides>
      

      
      <ion-card class="stats-card2" style="height: 50vh;">
        <ion-card class="stats-inner-card">
        <div class="outer-circle"></div><div class="inner-circle"></div>

              <ion-card lines="none" class="stats-item" style="background: none; box-shadow:none;justify-content: flex-start;align-items:normal;padding:0.75em ;">
                <ion-label >
                  <!-- <ion-icon style="font-size: 1.5em;" name="flame-outline"></ion-icon> -->
                  <h1 style="text-align: left;font-size: 2.5em;">CTP</h1>
                  <p>Target Days: 30</p>
                </ion-label>
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-card>
              <ion-card lines="none" class="stats-item" >
                <ion-label >
                  <!-- <ion-icon style="font-size: 1.5em;" name="flame-outline"></ion-icon> -->
                  <h2>0</h2>
                  <p>Current Streak</p>
                </ion-label>
                <ion-icon name="flame-outline"></ion-icon>
              </ion-card>
              <ion-card lines="none" class="stats-item" >
                <ion-label >
                  <!-- <ion-icon style="font-size: 1.5em;" name="flame-outline"></ion-icon> -->
                  <h2>Jun 02 2021</h2>
                  <p>Previous Failure</p>
                </ion-label>
                <ion-icon name="sad-outline"></ion-icon>
              </ion-card>
              <ion-card lines="none" class="stats-item" >
                <ion-label >
                  <!-- <ion-icon style="font-size: 1.5em;" name="flame-outline"></ion-icon> -->
                  <h2>256</h2>
                  <p>Total Failures</p>
                </ion-label>
                <ion-icon name="podium-outline"></ion-icon>
              </ion-card>
        
        <!-- <ion-item lines="none" class="stats-item"  >
          <ion-label >
            <h2>Jun 06</h2>
            <p>Previous Failure</p>
          </ion-label>
          <ion-icon name="sad-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="stats-item"  >
          <ion-label >
            <h2>1.2</h2>
            <p>Daily Average</p>
          </ion-label>
          <ion-icon name="podium-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="stats-item" >
          <ion-label >
            <h2>0</h2>
            <p>Current Streak</p>
          </ion-label>
          <ion-icon name="flame"></ion-icon>
        </ion-item> -->
        <ion-item>
          <ion-chip>
            <ion-icon name="flame"></ion-icon>
            <ion-label>0</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-icon name="flame"></ion-icon>
            <ion-label>0</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-icon name="flame"></ion-icon>
            <ion-label>0</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-icon name="flame"></ion-icon>
            <ion-label>0</ion-label>
          </ion-chip>
        </ion-item>
      </ion-card>
    </ion-card>
    </section>
    <section class="scrollsnap-section">
      <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="2">
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
     
        <ion-col size="8" class="ion-text-center">
          <ion-label><h1 class="calendar-title">{{ viewTitle }}</h1></ion-label>
          
        </ion-col>
     
        <!-- Move forward one screen of the slides -->
        <ion-col size="2">
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
     
      <calendar 
        [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        startHour="6"
        endHour="20"
        step="30"
        startingDayWeek="1"
        [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
        [monthviewEventDetailTemplate]="monthviewEventDetailTemplate"
      >
      </calendar>
     
      <ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
        <div [class.with-event]="view.dates[row*7+col].events.length" (click)="onCurrentDateChanged(view.dates[row*7+col].events.length)">
          {{view.dates[row*7+col].label}}
          <div class="indicator-container">
            <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
          </div>
        </div>
      </ng-template>
  
      <ng-template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
          <ion-card class="event-details-item" style="display: flex;justify-content: space-between;margin: 0.5em 1em 0.5em 1em; background:linear-gradient(
            182deg
            , rgb(3 70 73), rgb(141 199 177 / 62%));;" lines="none"> 
            <div style="display: flex;align-items: center;">
              <div style="display: flex;justify-content: flex-start;align-items: center;">
                <figure>
                  <header>
                    {{selectedDate?.date| date: 'MMM'}}
                  </header>
                  <section>
                    {{selectedDate?.date| date: 'dd'}}
                  </section>
                </figure>
                <ion-icon style="margin-left:1em;" name="flame-outline"></ion-icon>
                <ion-label style="text-align: left;margin-right: 2em;"><h1>{{selectedDateEventsCount}}</h1></ion-label>
              </div>
              <div >
                <ion-button class="stepper-btn" color="danger" *ngIf="isEdit"  fill="clear" (click)="removeFrequency(selectedDate)" [disabled]="selectedDateEventsCount == 0">
                  <ion-icon  name="remove-circle-outline"></ion-icon>
                </ion-button>
                <ion-button class="stepper-btn" color="success" *ngIf="isEdit" fill="clear" (click)="addFrequency(selectedDate)">
                  <ion-icon  name="add-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
            <div style="display: flex;">
              <ion-button class="stepper-btn" color="primary"  fill="clear" (click)="isEdit = !isEdit" *ngIf="!isEdit">
                <ion-icon  name="create-outline"></ion-icon>
              </ion-button>
              <div>
                <ion-button fill="clear" *ngIf="isEdit" (click)=resetFrequency(selectedDate) [disabled]="isLoading">
                  <ion-icon class="frequency-icon"  name="close"></ion-icon>
                </ion-button>
                <ion-ripple-effect></ion-ripple-effect> 
              </div>
              <div>
                <ion-button fill="clear" *ngIf="!isLoading && isEdit" (click)=saveFrequency(selectedDate) [disabled]="selectedDateEventsCount == selectedDate?.events.length">
                  <ion-icon  class=" button" name="save-outline"></ion-icon>
                </ion-button>
                <ion-ripple-effect></ion-ripple-effect> 
                <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
              </div>
            </div>
            
            
           
            
            
            <!-- <ion-button class="stepper-btn" color="danger"  fill="clear" (click)="removeFrequency(selectedDate)" [disabled]="selectedDateEventsCount == 0">
              <ion-icon  name="remove-circle-outline"></ion-icon>
            </ion-button>
            <ion-label>
              <h1>{{selectedDateEventsCount}}</h1>
            </ion-label>
            <ion-button class="stepper-btn" color="success"  fill="clear" (click)="addFrequency(selectedDate)">
              <ion-icon  name="add-circle-outline"></ion-icon>
            </ion-button>
            
  
            <div>
              <ion-button fill="clear" (click)=resetFrequency(selectedDate) [disabled]="selectedDateEventsCount == selectedDate?.events.length">
                <ion-icon class="frequency-icon"  name="refresh-outline"></ion-icon>
              </ion-button>
              <ion-ripple-effect></ion-ripple-effect> 
            </div>
            <div>
              <ion-button fill="clear" *ngIf="!isLoading" (click)=saveFrequency(selectedDate) [disabled]="selectedDateEventsCount == selectedDate?.events.length">
                <ion-icon  class=" button" name="save-outline"></ion-icon>
              </ion-button>
              <ion-ripple-effect></ion-ripple-effect> 
              <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            </div> -->
            
            
            <!-- <ion-button style="margin:0" fill="outline" (click)=resetFrequency(selectedDate) slot="end"><ion-icon  name="refresh-outline"></ion-icon></ion-button>
            <ion-button style="margin:0" fill="outline"  slot="end"><ion-icon  name="save-outline"></ion-icon></ion-button> -->
          </ion-card>
              
        </ion-list>
    </ng-template>
  
  
  
  
      <!-- List Headers in Lists -->
      <ion-list class="streaks-container">
        <ion-list-header lines="none">
            <ion-label><h1 class="ion-text-center">Longest Streaks</h1></ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-segment scrollable class="streak-segment">
            <div *ngFor="let s of streaks;index as idx">
              <div class="notify-badge" [ngClass]="{'gold':idx==0,'silver':idx==1,'bronze':idx==2}"></div>
              <ion-segment-button class="streak-segment-btn " value="home">
                <ion-icon class="watermark" name="flame-outline"></ion-icon>
                <h3>{{s.Streak}}</h3><p>{{s.StartDate}} - {{s.EndDate}}</p>
              </ion-segment-button>
            </div>
          </ion-segment>
        </ion-item>
      </ion-list>
  
    </section>
    <div class="habit-details">

    </div>
  </div>
  
  
    <!-- <ion-segment [(ngModel)]="calendar.mode">
      <ion-segment-button value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label>Day</ion-label>
      </ion-segment-button>
    </ion-segment>
   
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
          Add random
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="removeEvents()" expand="block" fill="outline">
          Remove all
        </ion-button>
      </ion-col>
    </ion-row> -->
   
   

<!-- Average -->
<!-- <div id="columnChartContainer"></div> -->
<!-- <div id="bubbleChartContainer"></div> -->


  
</ion-content>
