.stat-item{
    div{
        display: flex;
    }

    ion-icon{
        font-size: 2em;
        padding:0.125em
    }

    p{
        font-size:0.75em
    }
}

.event-details-item{
    .stepper-btn{
        font-size: 1.2em;
    }
    
    ion-label{
        text-align: center;

        h1{
            display: inline;
            vertical-align: top;
        }

    }

    ion-icon{
        font-size: 2em;
    }
}


/* @group main calendar */
.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}
 
.event-indicator {
  background: var(--ion-color-success);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}
 
:host ::ng-deep {
//   .monthview-primary-with-event {
//     background-color: white !important;
//   }
 
//   .monthview-selected {
//     background-color: var(--ion-color-success) !important;
//   }
}
 
.with-event {
//   background-color: var(--ion-color-primary);
//   border-radius: 15px;
}
/* @end main calendar*/

/* @group calendar icon */
figure {
	margin: 0.25em;
	width: 4em;
	height: 3.5em;
	background-color: #ffffff;
	border-radius: 10px;
	position: relative;
	
	header {
		width: 100%;
		height: 40%;
		
		position: absolute;
		top: -1px;
		
		background-color: #fa565a;
		border-radius: 10px 10px 0 0;
		border-bottom: 3px solid #e5e5e5;
		
		font: 400 0.75em/27px Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: #fff;
		z-index: 11;
		text-align: center;
	}
	
	section {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0.125em;
		
		font: 400 1.5em/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
		color: #4c566b;
		
		text-align: center;
		border-radius: 10px;
		z-index: 10;
		
        background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
	}
}

/* @end */
$gold: blue;
$silver: hsl(77 -100% 80%);
$bronze: hsl(37 62% -46%);

.streak-segment{
    padding:0.5em;
}

.notify-badge{
    display:block;
    position: absolute;
    height: 3em;
    width: 2.1em;
    z-index: 100;
    top: -0.05em;
    
}

.gold{
    background-size: cover;
    background-image: url('../../../resources/images/gold1.png');
}

.silver{
    background-size: cover;
    background-image: url('../../../resources/images/silver1.png');
}

.bronze{
    background-size: cover;
    background-image: url('../../../resources/images/bronze1.png');
    color:$bronze
}

.streak-segment-btn{
    border: $gold 0.15em solid;
    border-radius: 1em;
    box-shadow: inset 0 0 0.75em 0 $gold, 0 0 0.75em 0 $gold;
    margin-right: 0.5em;
}