.stat-item{
    div{
        display: flex;
    }

    ion-icon{
        font-size: 2em;
        padding:0.125em
    }

    p{
        font-size:0.75em
    }
}

ion-card{
    color: var(--ion-color-primary);
    padding:0.5em;
}

.neon-border{
    border: currentColor 0.15em solid;
    box-shadow: inset 0 0 0.75em 0 currentColor, 0 0 0.75em 0 currentColor;
}

#gaugeChartContainer{
    position: relative;
    border-radius:30%;
}

#gaugeChartContainer::before{
    content: "";
    position: absolute;
    background: var(--ion-color-primary);
    top:48%;
    left:0;
    height: 100%;
    width: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter:blur(2.25em);
    opacity:0.4;

}

#gaugeChartContainer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--ion-color-primary);
    opacity: 0;
    background-color: var(--ion-color-primary);
    z-index: -1;
    transition: opacity 100ms linear;
  }


  


/* @group main calendar */
.calendar-title{
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}



.indicator-container {
  display: flex;
  justify-content: space-evenly;
}
 
.event-indicator {
  background: var(--ion-color-success);
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.2em;
  display: table-cell;
}
 
:host ::ng-deep {
    
    .monthview-container{
        height: auto !important;
    }

    .monthview-datetable td{
        padding:0.4em !important;
    }

    .monthview-datetable td.monthview-primary-with-event{
        padding-bottom:0.2em !important;
    }

    .monthview-datetable td.monthview-secondary-with-event{
        padding-bottom:0.2em !important;
    }

//   .monthview-primary-with-event {
//     background-color: white !important;
//   }
 
//   .monthview-selected {
//     background-color: var(--ion-color-success) !important;
//   }
}
 
.with-event {
//   background-color: var(--ion-color-primary);
//   border-radius: 15px;
}
/* @end main calendar*/

ion-item::part(native){
    background-color: transparent;
}
.event-detail-container{
    background-color: transparent;
}

.event-details-item{
    background-color: transparent;

    .stepper-btn{
        ion-icon{
            font-size: 1.2em;
        }
        font-size: 1.2em;
    }
    
    ion-label{
        text-align: center;

        h1{
            display: inline;
            vertical-align: top;
        }

    }

    ion-icon{
        font-size: 2em;
    }
}


/* @group calendar icon */
figure {
	margin: 0.25em;
	width: 3em;
	height: 2.5em;
	background-color: #ffffff;
	border-radius: 0.3em 0.3em 0 0;
	position: relative;
	
	header {
		width: 100%;
		height: 40%;
		
		position: absolute;
		top: -1px;
		
		background-color: var(--ion-color-primary);//#fa565a;
		border-radius: 0.3em 0.3em 0 0;
		border-bottom: 3px solid #e5e5e5;
		
		font: 400 0.75em/1.5em Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: #fff;
		z-index: 11;
		text-align: center;
	}
	
	section {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0.125em;
		
		font: 400 1.5em/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
		color: #4c566b;
		
		text-align: center;
		border-radius:0 0 0.2em 0.2em;
		z-index: 10;
		
        background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
        background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
	}
}

/* @end */

.frequency-icon{
    color: var(--ion-color-primary)
}

.streaks-container{
    background-color: transparent;
}

.streak-segment{
    padding:0.5em;
}

.notify-badge{
    display:block;
    position: absolute;
    height: 3em;
    width: 2.1em;
    z-index: 100;
    top: -0.05em;
    
}

.gold{
    background-size: cover;
    background-image: url('../../../resources/images/gold1.png');
}

.silver{
    background-size: cover;
    background-image: url('../../../resources/images/silver1.png');
}

.bronze{
    background-size: cover;
    background-image: url('../../../resources/images/bronze1.png');
}

.streak-segment-btn{
    color: var(--ion-color-primary);
    border-radius: 1em;
    margin-right: 0.5em;
    width: 10em;
    height: 6em;

    p{
        font-size: 0.6em;
    }
}